h1{
    font-size: 30px;
}
#shown{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction:row; */
    /* float: left; */
    /* margin: 40px; */
}
figure{
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* flex-direction:row; */
    padding: 30px;
    border: 3px solid yellow;
    /* float: left; */
    margin: 10px 40px;
    width: 250px;
    height: 325px;
}
img{
    width: 200px;
    height: 250px;
    border: 4px solid orange;
}
h3{
    margin-bottom: 10px;
}
figcaption{
    margin-bottom: 10px;
    
}
select#horns {
    padding: 10px;
    margin-top: 20px;
   
}


